@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: 'Roboto', sans-serif;

    background: linear-gradient(90deg, red, blue);
    background-repeat: no-repeat;

    overflow: hidden;

    transition: 0.5s;

    /*-webkit-transform-style: preserve-3d; not needed on parent element */
    -webkit-perspective: 1000; 
}

.marquee {
    width: 100vw;
    height: 5%;

    overflow: hidden;

}

.marquee_content_top {
    display: flex;
    list-style: none;

    color: red;

    animation-name: scroll_top;
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.marquee_content_bot {
    display: flex;
    list-style: none;

    color: blue;

    animation-name: scroll_bot;
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes scroll_top {
    0% {
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(0vw);
    }
}

@keyframes scroll_bot {
    0% {
        transform: translateX(0vw);
    }

    100% {
        transform: translateX(-100vw);
    }
}

li {
    display: flex;
    width: 10vw;
    font-size: 2rem;
    flex-shrink: 0;

}

main {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main img {
    height: 80%;

    animation-timing-function: ease-out;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
}

.hime_img {
    animation-name: hime;
}

.hina_img {
    animation-name: hina;

}

@keyframes hime {
    0% {
        transform: translateX(-50%);
        opacity: 0%;
    }

    100% {
        transform: translateX(0%);
        opacity: 100%;
    }
}

@keyframes hina {
    0% {
        transform: translateX(50%);
        opacity: 0%;
    }

    100% {
        transform: translateX(0%);
        opacity: 100%;
    }
}



.release {
    display: flex;
    width: 20vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;

    text-align: center;

}

main a {   
    text-decoration: none;
    background: linear-gradient(90deg, blue, red);
    border-radius: 20px;

    transition: 1s ease;
}

.hina_img {
    margin-left: 38px;
}