@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: 'Roboto', sans-serif;

    background: linear-gradient(90deg, red, blue);
}

.marquee {
    width: 100vw;

    overflow: hidden;

}

.marquee_content_top {
    display: flex;
    list-style: none;

    color: red;

    animation-name: scroll_top;
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.marquee_content_bot {
    display: flex;
    list-style: none;

    color: blue;

    animation-name: scroll_bot;
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes scroll_top {
    0% {
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(0vw);
    }
}

@keyframes scroll_bot {
    0% {
        transform: translateX(0vw);
    }

    100% {
        transform: translateX(-100vw);
    }
}

li {
    display: flex;
    width: 10vw;
    font-size: 2rem;
    flex-shrink: 0;

}


main {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main img {
    width: 20%;
}
